.footer {
  padding: 2rem;
  background-color: $color-grey-light;

  &__name {
    color: $color-black;
    font-size: 2rem;
  }

  &__allrights {
    color: $color-black;
    font-size: 1.4rem;
  }
}
