.header {
  width: 100%;
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-between;
  position: fixed;
  background-color: transparent;
  z-index: 99;
  border-top: 0.4rem solid;
  transition: all 0.35s;

  &::after {
    background: linear-gradient(to right, red, yellow, green);
    position: absolute;
    content: "";
    height: 4px;
    right: 0;
    left: 0;
    top: 0;
    background-repeat: repeat-x;
    animation: animatedImage 5s linear infinite;
  }

  &__detailscontainer {
    position: fixed;
    //  background-color: $color-grey-light;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
  }
  //   background-image: linear-gradient(red, yellow);

  &__details {
    display: flex;
    align-items: center;
  }

  &__profileDetails {
    display: flex;
    margin-right: 2rem;
    align-items: center;
  }

  &__profile {
    margin-right: 1rem;
  }

  &__cart {
    margin-left: 1rem;
  }

  &__name {
    color: $color-black;
    margin-left: 1rem;
    font-weight: 600;
    text-decoration: none;
    font-size: 3.5rem;
  }

  &__menu {
    background-color: $color-black;
    width: 2.5rem;
    height: 0.3rem;
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
    transition-duration: 100ms;

    &::after,
    &::before {
      content: "";
      width: 2.5rem;
      height: 0.3rem;
      background-color: $color-black;

      position: absolute;
      transition: all 0.25s;
    }

    &::before {
      transform: translateY(-0.6rem);
    }
    &::after {
      transform: translateY(0.6rem);
    }
  }
}

.header.active {
  background-color: $color-white;
  border-bottom: 1px solid $color-grey-light;
  transition: all 0.35s;
}

.header__menu.active {
  &::after,
  &::before {
    content: "";
    width: 2.5rem;
    height: 0.3rem;
    background-color: $color-black;

    position: absolute;
    transition: all 0.25s;
  }

  &::before {
    transform: translateY(-0.6rem);
    transform: rotate(25deg);
  }
  &::after {
    transform: translateY(0.6rem);
    transform: rotate(-25deg);
  }
}

@keyframes animatedImage {
  // 0% {
  //   background: linear-gradient(to right, red, yellow, green);
  // }
  // 50% {
  //   background: linear-gradient(to left, green, red, yellow);
  // }
  // 100% {
  //   background: linear-gradient(to right, yellow green, red);
  // }
}
